.veRowViewSelectionLayer {
  height: calc(100% - 10px);
  border: none;
  background: #ff5843;
  opacity: 0.3;
  top: -5px;
  position: absolute;
  z-index: 10;
}

.veCaret {
  background: #ff5843;
  stroke: #ff5843;
  opacity: 1;
  cursor: ew-resize;
  z-index: 10;
}

.veCaret.veSelectionLayer.cutsiteLabelSelectionLayer {
  display: none !important;
}
